body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 3em;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    box-shadow: 0 8px #042632;
    margin: 20px;
}

.btn:focus {
    box-shadow: 0 4px #042632;
}

.modall {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    animation: fadeIn .3s both;
}

.modal_wrapper {
    width: 600px;
    background-color: #fff;
    padding: 40px;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid rgb(44, 44, 46);
    animation: slideFromTop .3s both .1s;
}

#titreBonjour {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(44, 44, 46);
}

.cookie {
    margin-bottom: 20px;
    
}

.cont {
    display: flex;
    flex-direction: row;
}


.acc {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1.3em;
    box-shadow: 0 2px rgb(44, 44, 46);
    border: 2px solid rgb(44, 44, 46);
    color: rgb(44, 44, 46);
}

.pers {

    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 1.3em;
    box-shadow: 0 2px rgb(44, 44, 46);
    border: 2px solid rgb(44, 44, 46);
    color: rgb(44, 44, 46);
}

em {
    text-decoration: underline;
    color: rgb(44, 44, 46);
}   

.cont_fermer {
    display: flex;
    justify-content: end;
}

.fa-regular::before {
    font-size: 3em; 
    position: absolute;
    top: 5px;
    left: 540px;
    color: rgb(44, 44, 46);
}


@keyframes fadeIn {
    from {  opacity: 0;}
    to {opacity: 1;}
}



@keyframes slideFromTop {
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}